body {
    background: rgb(50, 70, 14);
    color: rgb(221, 255, 221);
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    padding: 50px;   
}
.container {
    display: block;
    width: 50%;
    height: 500px;    
    margin: 0 auto;
    text-align: center;
    background: rgb(22, 31, 22);
    border-radius: 5px;
    box-shadow: 4px 4px 4px 4px rgb(36, 51, 38);
}
.tasks{
    display: flex;
    justify-content: space-between;
}
.task {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    margin-bottom: 10px;
    border-radius: 5px;
    background-color: grey;
    width: 80%;
    text-align: left;
    padding: 3px;
    padding-left: 5px;
    padding-right: 5px;
    
}

